
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}

/* estilos para la vista login */
.login-form{
    max-width: 450px;
    height: auto;
    top: 50%;
    transform: translateY( -50%);
}
.login-form input{
    font-size: 14px;
}


.container-logins i{
    top: 20%;
    left: 90%;
    color: rgba(0,0,0,0.6);
}

#bi-eye:hover{
    cursor: pointer;
}

/* estilos para la vista registro */

.singUp-form{
    max-width: 500px;
    top: 50%;
    transform: translateY(-50%);
}


.singUp-form input{
    font-size:14px ;
}

.singUp-form i {
    top: 20%;
    left: 90%;
}


.nav-main{
    background-color:rgba(68, 186, 186, 0.432);
}

.list-options li:hover{
    transform: scale(1.02 ,1.02);
    background-color: rgba(68, 186, 186, 0.432);   
    border-radius: 8px;     
    z-index: 1;
}

.list-options-dropdown li{
    margin: 0 10px;
}

.list-options-dropdown a:hover{
    border-radius: 8px;
    background-color: rgba(68, 186, 186, 0.432);
}

.botton-añadir-libro{
    cursor: pointer;
}


.container-añadir-libro , .container-editar-libro{
    position: absolute;
    left: 50%; 
    transform: translateX(-50% );
    border: 1px solid #eee;
    max-width: 90%;
    border-radius: 20px; 
    background:rgb(255, 255, 255);
    display: none;
    z-index: 5;

}
.container-añadir-libro  h4{
    background-color:rgba(58, 255, 255, 0.432);
    border-radius: 12px;
}

.container-editar-libro h4{
    background-color:rgba(58, 255, 255, 0.432);
    border-radius: 12px;
}



.open-container-editar{
    display: block;
}

.open-container-añadir{
    display: block;
}


.container-libros{
    display: grid;
    grid-template-columns:repeat(auto-fill,300px);
    grid-auto-rows: minmax(300px  350px);
    grid-gap: 10px;
    /* grid-auto-rows: auto; */
    justify-content: center;
   
}

/* .container-card{
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
} */

.container-eliminar {
    text-align: center;
    width: 280PX;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.container-eliminar,  h2{
    background: rgba(255, 0, 0, 0.344);
}

.open-container-eliminar{
    display: block;
}

@media(min-width:768px){
    .container-añadir-libro , .container-editar-libro{
        position: fixed;
        top: 24%;
        left: 100%;
        max-width: 300px;
        min-width: 300px; 
        transform: translateX(-100%);
       border-radius: 20px 0 0 20px;
    }
}